body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Roboto Mono", Roboto, Monospace;
}

* {
	box-sizing: border-box;
}

footer *{
	font-size: 8pt;
}

.justify{
	text-align: justify;
}

.center{
	text-align: center;
}

#headingTitle {
	font-weight: bold;
	color: #0e811c;
	text-align: center;
	margin: auto;
}

h3 {
	padding-top: 5px;
}

h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

@media (max-width: 991.98px){
	h3 {
		padding-top: 10px;
		text-align: center;
	}
}

/* Languages for project page */
.projectLanguage{
	overflow: hidden;
}
.projectLanguage > div{
	min-height: 100px;
}

.line {
	border-top: 4px solid #00640c;
	height: 0px;
	width: 100vw;
	position:relative;
    left: 50%;
    transform: translateX(-50.4%);
}

.projectLanguage > div:nth-child(even){
	background-color: dimgray;
}

.projectLanguage > div:nth-child(even) > .line{
	border-top: 4px solid #0e811c;
}

/* Navigation Menu */
.navMenu.col-lg-4{
	float: right;
	padding: 0px;
}

.navMenu p{
	padding: 0px;
	margin: 0px;
	display: block;
}

.navMenu p > a{
	text-decoration: none;
	color: white;
	background-color: #bs-gray-400;
	display: block;
	text-align: center;
	border: 3px solid #00640c;
	border-bottom: 0px;
	padding: 0px;
	margin: 0px;
	line-height: 50px;
	font-size: 120%;
}

#lastNavSelection {
	border-bottom: 3px solid #00640c;
}